.section{
    width: 100%;
}
.section .container{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
    height: 100vh;
}
.container .title{
    width: 100%;
    text-align: left;
    margin-top: 30px;
}
.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color: black;
}
.contents{
    float: left;
    width: 50%;
}
.img{
    float: right;
    width: 40%;
}
.img img{
    border-radius: 15px;
    width: 90%;
    height: 500px;
}
.contents .text{
    text-align: center;
    margin-top: 20vh;
    text-justify: auto;
    color: black;
    font-size: 15px;
}