*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(http://localhost/travel/public/css/img/background-login.jpg);
}
 .view { 
    max-width: 800px;
    height: 55vh;
    background-color: rgba(255, 255, 255, 0.733) ;
    margin-top: 40px;
    padding: 30px 40px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 15px;
 }
.title {
    margin: 0;
    border-radius: 15px;
    padding-bottom: 15px;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500px;
}
.data-kn{
    margin-left: 0;
    margin-right: 50px;
    float: left;
}
.data-kr{
    margin-right: 0;
    margin-left: 50px;
    float: right;
}
.bagian{
    margin-top: 20px;
}
.detail{
    font-size: 13px;
}
.form{
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px;
    padding-bottom: 5px;
}
.icon{
    padding: 5px;
}
.harga{
    margin-left: 30px;
    margin-top: 15px;
}
.nominal{
    color: black;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
}
.tombol{
    border: 0;
    color: white;
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    float:left;
    margin-top: 32px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(90deg, #7B4397,#DC2430);
}